.container a{
  display: block;   margin: 15px;   font-size: 1.2rem;   color:black;   background-color: rgba(0, 128, 0, 0.6); /* semi-transparent green */   padding: 10px 20px;   border-radius:50%;   text-decoration: none;   width: 250px;   margin-left: 30px;   margin-right: auto;   margin-top:40px;   text-align: center;
}
@keyframes fadeInSlide {
  0%
   {
    opacity: 0;
    transform: translateY(20px);
  }
  100% 
  {
    opacity: 1;
    transform: translateY(0);
 
}
}

#Head{
       	
	font-size:40px;
	margin-top: 1px;
    color:black;
    animation: fadeInSlide 2s ease-out forwards;
  }
  
 .container a:hover {
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
}

#formBody {
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

form {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 30px;
    border-radius: 15px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-bottom: 10px;
}

input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}


#add{
	color:black;
}

#viewBody {
    color:black;
    text-align: center;
    padding: 40px;
   /* background-color: rgba(0, 0, 0, 0.6); /* Fallback if image doesn't load */
   /* background-blend-mode: darken;*/
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px #000;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

th, td {
    padding: 15px 20px;
    text-align: center;
}

th {
    background-color:green;
    color: white;
    font-size: 1.1rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color:lime;
    transition: background-color 0.3s ease;
}

#purchaseAllBody{
	text-align: center;
	padding: 40px;
}

#purchaseMsg{
	text-align: center;
	padding: 40px;
}

#searchBody{
	 text-align: center;
	padding: 40px;
}